<section data-ng-controller="authController">
  <form data-ng-submit="authSubmit(user)">
    <label for="username">Username</label>
    <input type="text" name="username" data-ng-model="user.username" required>
    <label for="password">Password</label>
    <input type="password" name="password" data-ng-model="user.password" required>
    <button type="submit">Sign in</button>
  </form>
  <label for="create">Not yet a user?</label>
  <button data-ng-click="moveToCreate()">Click Here!</button>
</section>
