
h1, h2 {
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

#addBox {
  width: 280px;
  padding: 35px 10px;
  border: 2px solid #000;
  border-radius: 6px;
  display: inline-block;
  padding-right: 0;
  float:left;
}

#addBox label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    margin: 10px 0px;
}

#addBox input, #updateRest input {
  display: inline-block;
  float: right;
}

.number {
  width: 125px;
}

#addBox button{
  margin-left: 135px;
  margin-top: 10px
}

#updateRest label {
    display: inline-block;
    float: left;
    clear: left;
    width: 145px;
    text-align: left;
}

#updateRest input {
  display: inline-block;
  float: right;
  width: 110px;
}

#updateRest {
  width: 154px;
  padding: 0px 0px 0px;
  border-radius: 6px;
  display: inline-block;
  padding-right: 0;
  background-color: #ddd;
  margin-top: 19px;
  margin-bottom: 0px;
}

#updateRest button {
  margin-left: 5px;
  margin-top: 13px;
}

#restHolder {
  display: inline-block;
  float:right;
  width: 1012px;
  margin-right: 80px;
  border: 3px solid black;
  border-radius: 6px;
}

#restList {
  max-width: 75%;
  display: inline-block;
  padding: 24px;
}

#restList:nth-child(even) {
  background-color: #EEEEEE;
}

#restList:nth-child(odd) {
  background-color: #DFDFDF;
}

#restList h3 {
  margin-top: 0;
}

#restList button {
  margin-bottom: 10px;
}

.rating span {
  color: gray;
}
.rating span.filled {
  color: gold;
}


