h1, h2 {
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

#addBox {
  width: 280px;
  padding: 20px 10px;
  border: 2px solid #000;
  border-radius: 6px;
  display: inline-block;
  padding-right: 0;
  float:left;
}

#addBox label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

#addBox input, #updateRest input {
  display: inline-block;
  float: right;
}

.number {
  width: 125px;
}

#addBox button{
  margin-left: 135px;
  margin-top: 10px
}

#updateRest label {
    display: inline-block;
    float: left;
    clear: left;
    width: 195px;
    text-align: left;
}

#updateRest input {
  display: inline-block;
  float: right;
  width: 110px;
}

#updateRest {
  width: 200px;
  padding: 55px 10px 0px;
  border-radius: 6px;
  display: inline-block;
  padding-right: 0;
  background-color: #ddd;
  margin-bottom: 25px;
}

#updateRest button {
  margin-left: 5px;
  margin-top: 13px;
}

#restHolder {
  display: inline-block;
  float:left;
  width: 70%;
}

#restList {
  max-width: 75%;
  display: inline-block;
  margin-left: 50px;
}

#restList h3 {
  margin-top: 0;
}

#restList button {
  margin-bottom: 10px;
}


